/* Hypnotic Stylesheet */ 

body {
    display: none;
    margin: 0px;
    background: url('http://24.media.tumblr.com/tumblr_mdkcpyDrbB1qeccpho3_250.png') #f4f4f4;
}

@font-face {
    font-family: Bell MT;
	src: url('http://fracture.astreadominue.com/BELL.TTF');
}

#header {
    width: 100%;
    height: 117px;
    background: url('http://i.imgur.com/n4ZfY.png') #1b3f5b;
    z-index: 1000;
	border-bottom: 1px solid #fff;
}

.headerwrap {
    width: 900px; 
    margin: 0 auto;
    line-height: 117px;
}
    

.nav {
    float: right;
    color: #fff;
    font-family: Bell MT;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.logo {
    float: left;
}

.content {
    font: 14px Lato;
    line-height: 20px;
    width: 900px;
    margin: 0px auto;
    color: #3F403F;
    padding-bottom: 50px;
    overflow: auto;
	text-shadow: 0px 1px 1px #FFFFFF;
        filter: dropshadow(color=#FFFFFF, offx=0, offy=1);
}

.text {
    float: left;
    width: 500px;
    text-align: justify;
    
}

.images {
    width: 350px;
    float: right;
}

#footer {
    	margin: 0px auto;
    	width: 100%;
	min-height: 90px;
    	padding: 20px 0px 20px 0px;
    	background: url('http://i.imgur.com/d5K34.png') #D1D1D1;
	overflow: hidden;
	color: #40260b;
	clear: both;
	bottom: 0px;
	position: relative;
}

.informacion {
	float:right;
	width: 200px;
}

.copyright {
	float:left;
	width: 500px;
}

.folder 
{
    float: left;
    width: 300px;
}

.servicios 
{
    float: right;
    width: 550px;
}

.contentwrap
{
	padding-top: 60px;
	width: 900px;
	margin: 0px auto;
}

.contentwrap1
{
	width: 698px;
	float: left;
}

.wrap1
{
	width: 305px;
	padding: 6px 6px 8px 6px;
	background-color: #fff;
	border: 6px solid #E2E2E2;
	float: left;
}

.wrap1more
{
	padding-top: 8px;
	font-size: 12px;
}

.vermas {
	width: 100%;
	border-top: 1px dotted #E2E2E2;
	display:inline-block; cursor:pointer;
}

.wrap2
{
	width: 305px;
	padding: 6px 6px 8px 6px;
	background-color: #fff;
	border: 6px solid #E2E2E2;
	float: right;
}

.wrap2more
{
	padding-top: 8px;
	font-size: 12px;
}

.wrap3
{

	float: right;
}

h1 {
    font-family: Bell MT;
    color: #1b3f5b;
    font-weight: normal;
}

.fakeh {
	font: 19px Lato;
	color: #1b3f5b;
	margin-bottom: 6px;
	width: 218px;
}

h4 {
    font-family: Bell MT;
    color: #1b3f5b;
    font-weight: normal;
    font-size: 18px;
}

.clear {
    clear: both;
}

.footerwrap {
	width: 900px;
	margin: 0px auto;
    	font: 14px Lato;
    	line-height: 20px;
    	color: #3F403F;
    	overflow: auto;
	text-shadow: 0px 1px 1px #FFFFFF;
        filter: dropshadow(color=#FFFFFF, offx=0, offy=1);
}

ul
{
	line-height: 25px;
}

.futurico-theme.slider-wrapper {
    position: relative;
    width: 876px;
    height: 300px;
    margin: 0;
    padding: 12px;
 
    background: #141517;
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
 
.futurico-theme .nivoSlider {
    position: relative;
    width: 876px;
    height: 300px;
}
 
.futurico-theme .nivoSlider img {
    display: none;
    position: absolute;
    width: 876px;
height: 300px;
    top: 0;
    left: 0;
}

.futurico-theme .nivo-controlNav {
    position: absolute;
    bottom: -40px;
    left: 425px;
}


.futurico-theme .nivo-controlNav a {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    text-indent: -9999px;
 
    background: #232323;
 
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}


.futurico-theme .nivo-controlNav a.active,
.futurico-theme .nivo-caption span {
    background: #1b3f5b;
}

.futurico-theme .nivo-directionNav a {
    display: block;
    top: 60px;
 
    font-family: 'Consolas', sans-serif;
    font-size: 40px;
    color: #141517;
    text-shadow: 0px 1px 1px rgba(255,255,255, .05);
}

 
.futurico-theme a.nivo-prevNav { left: -40px; }
 
.futurico-theme a.nivo-nextNav { right: -40px; }


.futurico-theme .nivo-caption {
    padding: 5px 0 5px 5px;
 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #e1e1e1;
 
    background: #000000;
	text-shadow: 0px 1px 1px #000;
        filter: dropshadow(color=#000, offx=0, offy=1);
}
 
.futurico-theme .nivo-caption span {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 5px 1px 5px;
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
.futurico-theme .nivo-caption em {
    font-family: Georgia, sans-serif;
    font-size: 11px;
    color: #727581;
	text-shadow: 0px 1px 1px #000;
        filter: dropshadow(color=#000, offx=0, offy=1);
}
