/* Hypnotic Stylesheet */ 
body {
	display: none;
      	margin: 0px;
	padding:0;
}
   
#bg {
       position:absolute; 
       left:0;
       right:0;
       bottom:0;
       top:0;
       overflow:hidden;
       z-index:-10;
}

#bg img {
       width:100%;
       min-width:100%;
       min-height:100%;
}

#content {
       z-index:1000;
	width: 900px;
	margin: 0 auto;
	margin-top: 20%;
	color: #fff;
	font: 60px Bell MT;
	text-align: center;
}

.entrar {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: #282828;
	font: 35px Bell Italic;
	padding: 15px;
	color: #fff;
	-moz-transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
	transition: 0.5s ease-in;
}

.entrar a{
	color: #fff;
	text-decoration: none;
	-moz-transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
	transition: 0.5s ease-in;
}

.entrar:hover{
	background-color: #fff;	
	-moz-transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
	transition: 0.5s ease-in;

}

.entrar:hover a{
	color: #282828;
	-moz-transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
	transition: 0.5s ease-in;
}

.padding {
	background-color: #1f3e5b;
	padding: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

span.y {
		font-family: Bell Italic;
}

.italic {
	color: #1f3e5b;
	font: 30px Bell Italic;
	z-index:1000;
	width: 250px;
	margin: 0 auto;
	text-align: center;
	background: #fff;
	padding: 6px;
}

@font-face {
    font-family: Bell MT;
	src: url('http://fracture.astreadominue.com/BELL.TTF');
}

@font-face {
    font-family: Bell Italic;
	src: url('http://fracture.astreadominue.com/BELLI.TTF');
}

#footer {
    	margin: 0px auto;
    	width: 100%;
	min-height: 90px;
    	padding: 20px 0px 20px 0px;
    	background: url('http://i.imgur.com/d5K34.png') #D1D1D1;
	overflow: hidden;
	color: #40260b;
	clear: both;
	bottom: 0px;
	position: relative;
}